_tmp_template_cd.json
{
  "name": "Template C+D",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -4640,
        288
      ],
      "id": "543a3a99-1e7b-4623-932b-7f66dcdab731",
      "name": "Telegram Trigger",
      "webhookId": "dafe6436-0e3d-489d-9830-1de2e0cd42f0",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const u = $json;\n\n// Try to find callback_query in several possible shapes\nconst cq =\n  u.callback_query ??\n  u.body?.callback_query ??\n  u.update?.callback_query ??\n  u.data?.callback_query ??\n  u;\n\n// Telegram callback basics\nconst queryId = cq?.id ?? null;\nconst data = cq?.data ?? cq?.callback_data ?? \"\";\nconst fromId = cq?.from?.id ?? cq?.user?.id ?? null;\n\n// Message where buttons are attached\nconst msg = cq?.message ?? {};\nconst chatId = msg?.chat?.id ?? null;\nconst messageId = msg?.message_id ?? null;\nconst messageText = msg?.text ?? msg?.caption ?? \"\";\n\n// Parse callback_data format: \"approve|<news_id>\" or \"reject|<news_id>\"\nlet action = \"\";\nlet newsId = \"\";\nif (typeof data === \"string\") {\n  const parts = data.split(\"|\");\n  action = (parts[0] || \"\").trim();\n  newsId = (parts[1] || \"\").trim();\n}\n\n// Map to final decision (support A1/R1/A2/R2 and approve/reject)\nlet decision = null;\n\nconst a = String(action || \"\").trim().toLowerCase();\n\nif (a === \"approve\" || a === \"a1\" || a === \"a2\") decision = \"approved\";\nif (a === \"reject\"  || a === \"x1\" || a === \"x2\") decision = \"rejected\";\n\nreturn [\n  {\n    action,\n    decision,\n    news_id: newsId,\n    tg_query_id: queryId,\n    tg_from_id: fromId,\n    tg_chat_id: chatId,\n    tg_message_id: messageId,\n    tg_message_text: messageText,\n    raw_callback_data: data,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3504,
        272
      ],
      "id": "6bf389d8-2dfc-4ea2-b486-f5c378599461",
      "name": "Разобрать нажатие"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.tg_query_id }}",
        "additionalFields": {
          "text": "={{ $json.decision === 'approved' ? 'Принято ✅' : ($json.decision === 'rejected' ? 'Отклонено ❌' : 'Не понял кнопку 🤷') }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3280,
        272
      ],
      "id": "7c44c677-f263-4931-b867-8d5036fd9f3a",
      "name": "Answer Query a callback",
      "webhookId": "73f08578-cabb-48db-8f76-e55c81f8e556",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.news_items\nSET\n  approve1_decision = 'approved', -- ПИШЕМ ЖЕСТКО, так надежнее\n  approve1_decided_at = now(),\n  approve1_decided_by = $2        -- ID пользователя (бывший $3)\nWHERE id = $1\nRETURNING id, approve1_decision;",
        "options": {
          "queryReplacement": "={{ [ $('Разобрать нажатие').first().json.news_id, $('Разобрать нажатие').first().json.tg_from_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2320,
        240
      ],
      "id": "db9ae6ab-01ed-43a9-80d5-e17e4302c215",
      "name": "Записать решение в БД",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1456,
        240
      ],
      "id": "f65fc188-42d5-48aa-a6dd-48414951fbc0",
      "name": "Скачать HTML",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}"
      },
      "type": "n8n-nodes-webpage-content-extractor.webpageContentExtractor",
      "typeVersion": 1,
      "position": [
        -1008,
        224
      ],
      "id": "79f45de7-3ffc-470a-ba0a-f4026ece9e52",
      "name": "Экстрактор: Текст статьи"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e91e8fc0-d348-476a-ada2-348300f5b206",
              "name": "news_id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "24861445-e300-43ef-aab2-5e4a9608736c",
              "name": "url",
              "value": "={{$json.canonical_url}}",
              "type": "string"
            },
            {
              "id": "61efaf5c-9149-4057-9baa-8dbde6e51f99",
              "name": "title",
              "value": "={{$json.title}}",
              "type": "string"
            },
            {
              "id": "9756b59b-fe6b-4a9f-94a7-845885a39eaf",
              "name": "image_url",
              "value": "={{$json.image_url}}",
              "type": "string"
            },
            {
              "id": "59db2840-503f-4c95-9f7e-f581e7e1426c",
              "name": "tittle",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "6e21c178-7afc-4772-a134-aef93dc7345f",
              "name": "rss_summary",
              "value": "={{ $json.rss_summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        240
      ],
      "id": "d1033e2f-6dfa-45b9-802e-83e5aa368ba0",
      "name": "Метаданные новости"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(chat_id) FILTER (WHERE purpose = 'rss_draft') AS rss_draft_chat_id,\n  MAX(chat_id) FILTER (WHERE purpose = 'approve')   AS approve_chat_id,\n  MAX(chat_id) FILTER (WHERE purpose = 'publish')   AS publish_chat_id\nFROM public.telegram_chats\nWHERE project_key = 'ainews'\n  AND is_active = true;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2544,
        240
      ],
      "id": "5d0bdc53-0ae1-48e1-a777-26275fca53b2",
      "name": "БД: Чаты Telegram",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json.textContent ?? $json.cleanedText ?? '';\nconst cleanedText = String(input)\n  .replace(/[\\t]+/g, ' ')\n  .replace(/\\s\\s+/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    ...$json,\n    cleanedText,\n    textLength: cleanedText.length,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        224
      ],
      "id": "57c3b988-42e8-4600-94e8-d1cfc487b2ba",
      "name": "Код: Очистка текста"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('БД: Чаты Telegram').first().json.approve_chat_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2528,
        -288
      ],
      "id": "87a2d8ac-3f04-4341-9a92-b898b1d03497",
      "name": "TG: Апрув-2 (фото)",
      "webhookId": "0a567f92-1cda-4ab8-affd-8cf9ba927238",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Чаты Telegram').first().json.approve_chat_id }}",
        "text": "={{ $('Merge1').item.json.announce }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        304
      ],
      "id": "e74bd718-5ee8-4b32-b1c0-d7b19706ff87",
      "name": "TG: Апрув-2 (анонс)",
      "webhookId": "aab7cb83-c65c-4149-9c5c-f8bc942d23bb",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (\n  UPDATE public.news_items\n  SET\n    drafts_updated_at = NOW(),\n    draft_announce = $1,\n    draft_longread = $2,\n    draft_image_prompt = $3,\n    status = 'drafts_ready'\n  WHERE id = $4\n  RETURNING id\n)\nSELECT\n  $4::text AS news_id,\n  $5::text AS title,\n  $6::text AS canonical_url,\n  $7::text AS image_url,\n  $8::text AS approve2_chat_id,\n  $1::text AS announce,\n  $2::text AS longread,\n  COALESCE($3::text, '') AS image_prompt\nFROM upd;\n",
        "options": {
          "queryReplacement": "={{[\n  $json.announce,\n  $json.longread_text,\n  $json.image_prompt,\n  $json.news_id,\n  $json.title,\n  $json.url,\n  $json.image_url,\n  $json.approve_chat_id\n]}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2320,
        288
      ],
      "id": "6516e1e8-7de2-40eb-890e-e9ae16d61b2e",
      "name": "БД: Сохранить черновики2",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b7af9a77-5593-4028-9d5b-6d4e5ed7a5c4",
              "leftValue": "={{ $json.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2512,
        288
      ],
      "id": "50169a60-1d95-400a-83b7-fcd324561193",
      "name": "Если: Есть картинка?2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TEXT:\n{{ $json.cleanedText }}",
        "options": {
          "systemMessage": "=- Верни ТОЛЬКО текст лонгрида. Без JSON. Без markdown. Без лишних строк/пояснений.\n- Используй ТОЛЬКО факты из входного TEXT. Никаких догадок и добавленных деталей.\n- Пиши по-русски.\n\nДополнительные правила:\n{{ $json.prompts.rewrite_longread }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        432
      ],
      "id": "85b13af9-fa0e-4594-9603-9c32f3910c0d",
      "name": "ИИ: Лонгрид",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TEXT:\n{{ $json.cleanedText }}",
        "options": {
          "systemMessage": "=Верни ТОЛЬКО текст анонса. Без JSON, без markdown, без лишних строк/пояснений.\nИспользуй ТОЛЬКО факты из TEXT. Не добавляй ничего от себя.\n{{ $('Получить промты').item.json.prompts.rewrite_announce }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        -32
      ],
      "id": "5cef3572-8006-4ea6-bfb8-028a2eae7721",
      "name": "ИИ: Анонс",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TITLE: {{ $json.title }}\nTEXT:\n{{ $json.cleanedText }}",
        "options": {
          "systemMessage": "=На основе TITLE и TEXT составь один промпт на английском для генерации реалистичной иллюстрации к материалу.\nВерни ТОЛЬКО текст промпта. ОДИН абзац. Без JSON. Без markdown. Без лишних строк.\nНе добавляй фактов, которых нет в TEXT.\n\n{{ $json.prompts.image_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        1008
      ],
      "id": "134a5de9-7e12-4063-9449-baa6c224ff7d",
      "name": "Промт 3. ИИ: Картинка",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9faad409-38a1-4d03-b46e-fe1ef3e10351",
              "leftValue": "={{ $('Метаданные новости').item.json.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        912
      ],
      "id": "41bd46e1-2bb3-4abe-b72d-49dcc394c90f",
      "name": "Есть картинка?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        272
      ],
      "id": "d07d0a25-0c3f-42ce-89fc-bcdac3ca5994",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "249ab08e-dcfc-466a-833d-27916ed48457",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1248,
        240
      ],
      "id": "992ee9a8-eeaf-4126-b71b-855802a2307c",
      "name": "Получилось скачать страницу?"
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Чаты Telegram').item.json.approve_chat_id }}",
        "text": "=Не удалось скачать страницу. Проверьте настройки",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        560
      ],
      "id": "2d5584a1-6958-41fe-9fc5-dee7e140af2b",
      "name": "Не удалось скачать страницу",
      "webhookId": "aab7cb83-c65c-4149-9c5c-f8bc942d23bb",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "249ab08e-dcfc-466a-833d-27916ed48457",
              "leftValue": "={{ $json.textContent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        224
      ],
      "id": "7a6ab466-5a0c-4c05-a496-bb85d3eda99a",
      "name": "Получилось привести в порядок?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9756b59b-fe6b-4a9f-94a7-845885a39eaf",
              "name": "image_url",
              "value": "={{ $('Метаданные новости').item.json.image_url }}",
              "type": "string"
            },
            {
              "id": "821f09b9-2d7c-43e8-a4db-446145eafd07",
              "name": "image_prompt",
              "value": "null",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        768
      ],
      "id": "65f9fa75-1dd9-4223-b839-f55b138050a2",
      "name": "Картинка",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9756b59b-fe6b-4a9f-94a7-845885a39eaf",
              "name": "longread_text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        432
      ],
      "id": "702366b4-11d2-4a9d-ad0f-45a5f96828dd",
      "name": "Лонгрид"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9756b59b-fe6b-4a9f-94a7-845885a39eaf",
              "name": "announce",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -32
      ],
      "id": "33155928-baaf-44dc-9f7c-4e368f66db98",
      "name": "Анонс"
    },
    {
      "parameters": {
        "jsCode": "function s(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v).trim();\n}\n\nconst announce = s($json.announce);\nconst longreadText = s($json.longread_text);\nconst imageUrl = s($json.image_url);\nconst imagePrompt = s($json.image_prompt) || null;\n\nreturn [{\n  json: {\n    ...$json,\n    announce,\n    longread_text: longreadText,\n    image_prompt: imagePrompt,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        304
      ],
      "id": "c950cf3e-b871-4547-b6f6-5fb31cc322b4",
      "name": "Нормализовать"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2080,
        288
      ],
      "id": "e6c182bc-008a-465c-bbd1-f7beca8abce9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Чаты Telegram').first().json.approve_chat_id }}",
        "text": "Публикуем?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Публикация",
                    "additionalFields": {
                      "callback_data": "={{ 'A2|' + $('БД: Сохранить черновики2').first().json.news_id }}"
                    }
                  },
                  {
                    "text": "✍️ Правки",
                    "additionalFields": {
                      "callback_data": "={{ 'R2|' + $('БД: Сохранить черновики2').first().json.news_id }}"
                    }
                  },
                  {
                    "text": "🗑️ В корзину",
                    "additionalFields": {
                      "callback_data": "={{ 'X2|' + $('БД: Сохранить черновики2').first().json.news_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4336,
        16
      ],
      "id": "4579c68a-1c48-4551-adf9-d07a2de31f3e",
      "name": "TG: Апрув-2 (кнопки)1",
      "webhookId": "d8c99276-b352-4077-831b-02939ef152e6",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MAX_LEN = 3800;\n\nfunction splitByParagraphs(text, maxLen) {\n  const parts = [];\n  const paras = String(text || \"\").split(/\\n\\s*\\n/);\n  let buf = \"\";\n\n  function pushBuf() {\n    const t = buf.trim();\n    if (t) parts.push(t);\n    buf = \"\";\n  }\n\n  for (const pRaw of paras) {\n    const p = pRaw.trim();\n    if (!p) continue;\n\n    if ((buf.length ? buf.length + 2 : 0) + p.length <= maxLen) {\n      buf = buf ? (buf + \"\\n\\n\" + p) : p;\n      continue;\n    }\n\n    pushBuf();\n\n    if (p.length <= maxLen) {\n      buf = p;\n      continue;\n    }\n\n    let s = p;\n    while (s.length > maxLen) {\n      parts.push(s.slice(0, maxLen));\n      s = s.slice(maxLen);\n    }\n    buf = s;\n  }\n\n  pushBuf();\n  return parts;\n}\n\n// --- ИСПРАВЛЕНИЕ ЗДЕСЬ ---\n// Мы берем текст не из $json (входящего), а напрямую из ноды БД\n// Используем .first(), так как обрабатываем одну новость за раз\nconst item = $('БД: Сохранить черновики2').first(); \nconst longread = item ? (item.json.longread || \"\") : \"\";\n// -------------------------\n\nconst chunks = splitByParagraphs(longread, MAX_LEN);\n\n// Если текст пустой, вернем хотя бы пустой объект, чтобы не ломать поток\nif (chunks.length === 0) {\n    return [{ json: { text: \"Ошибка: Текст лонгрида пуст\" } }];\n}\n\nreturn chunks.map((t, i) => ({\n  json: {\n    text: (chunks.length > 1 ? `[${i + 1}/${chunks.length}]\\n\\n` : \"\") + t\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        304
      ],
      "id": "eae39550-ba1b-4256-a2e1-1f8590f76542",
      "name": "Код: Разбить лонгрид для ТГ"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3632,
        304
      ],
      "id": "0246252d-485a-4542-a64c-dd8aafce917e",
      "name": "Цикл: Части лонгрида"
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Чаты Telegram').first().json.approve_chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4000,
        320
      ],
      "id": "e44b98dc-8c57-4f4a-a4ca-14b304e26a7b",
      "name": "TG: Апрув-2 (лонгрид часть)",
      "webhookId": "88689bdd-ddd8-4d67-a057-afcc0fcaac00",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92cd1a84-b7b1-42f7-a777-400e0346c391",
              "leftValue": "={{ $('Разобрать нажатие').item.json.action }}",
              "rightValue": "=A1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2784,
        256
      ],
      "id": "26e936dd-4142-4ff4-a396-5e1eed0dfe32",
      "name": "Аппрувим RSS?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Разобрать нажатие').item.json.news_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "rejected"
            },
            {
              "fieldId": "approve1_decided_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "approve1_decided_by",
              "fieldValue": "={{ $('Разобрать нажатие').item.json.tg_from_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2544,
        512
      ],
      "id": "6f72e1c6-b433-46cb-9299-3bab22ac5268",
      "name": "БД: Отклонить (X1)",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97efc181-86f1-4a23-a41a-05bf8074aabc",
              "leftValue": "={{ $('Разобрать нажатие').item.json.decision }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8c1f7c6f-cab4-4071-8ed5-e613a7db9400",
              "leftValue": "={{ $('Разобрать нажатие').item.json.news_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3056,
        272
      ],
      "id": "6fba279b-c043-4ff9-ab52-476603da751a",
      "name": "Нужные кнопки?"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Разобрать нажатие').item.json.tg_chat_id }}",
        "messageId": "={{ $('Разобрать нажатие').item.json.tg_message_id }}",
        "text": "={{ $('Разобрать нажатие').item.json.tg_message_text + '\\n\\n❌ Новость отклонена' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2336,
        512
      ],
      "id": "2e8bffdb-c355-4525-8014-9a2741b9bee6",
      "name": "TG: Новость отклонена",
      "webhookId": "6d4a307f-c446-411c-a383-c9afe3c5e1d6",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.output }}",
        "model": "dall-e-3",
        "responseFormat": "imageUrl",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        4256,
        2544
      ],
      "id": "e7edce6c-445a-45e1-846d-20f0e4aaf017",
      "name": "OpenAI: Генерация картинки",
      "credentials": {
        "openAiApi": {
          "id": "U1pcqbZS37eHdBPO",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-field",
              "name": "image_prompt",
              "value": "={{ $('Промт 3. ИИ: Картинка').item.json.output }}",
              "type": "string"
            },
            {
              "id": "url-field",
              "name": "image_url",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        672
      ],
      "id": "624ccbd4-fe13-44c4-aa8f-ea7c6125799c",
      "name": "image_url"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.news_items\nSET approve2_text_message_id = $2\nWHERE id = $1\nRETURNING id, approve2_text_message_id;",
        "options": {
          "queryReplacement": "={{ [ $('БД: Сохранить черновики2').first().json.news_id, $json.result.message_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3344,
        -144
      ],
      "id": "c0b1a5ae-0251-4609-a589-905eedcde6a3",
      "name": "БД: Сохранить ID анонса",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.news_items\nSET \n  approve2_photo_message_id = $2,\n  draft_image_file_id = $3\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [ \n  $('БД: Сохранить черновики2').first().json.news_id, \n  $json.result.message_id, \n  $json.result.photo.slice(-1)[0].file_id \n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2704,
        -288
      ],
      "id": "9e5e5695-3a50-4133-9539-d04179dc2a52",
      "name": "БД: Сохранить ID фото",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Разобрать нажатие').item.json.news_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1872,
        240
      ],
      "id": "e4f687de-5714-4f6c-9f51-616666355771",
      "name": "Получить id",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Чаты Telegram').item.json.rss_draft_chat_id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Разобрать нажатие').item.json.tg_message_text + '\\n\\n' + ($('Разобрать нажатие').item.json.decision === 'approved' ? '✅ Одобрено' : '❌ Отклонено') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2096,
        240
      ],
      "id": "56fea701-a643-4956-a9e8-764fd0050c80",
      "name": "Отредактировать кнопку",
      "webhookId": "2364dc7d-af90-4c16-ab77-2add3cd9701c",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT jsonb_object_agg(key, content) AS prompts\nFROM public.system_prompts\nWHERE key IN ('rewrite_title','rewrite_announce','rewrite_longread','image_prompt');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        -288
      ],
      "id": "87cc5b41-fc7a-4e96-aba6-28cc634c8f22",
      "name": "Получить промты",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        176,
        224
      ],
      "id": "438adb48-952c-4e10-adc7-c53918b9eb77",
      "name": "Статья+промты"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(chat_id) FILTER (WHERE purpose = 'rss_draft') AS rss_draft_chat_id,\n  MAX(chat_id) FILTER (WHERE purpose = 'approve')   AS approve_chat_id,\n  MAX(chat_id) FILTER (WHERE purpose = 'publish')   AS publish_chat_id\nFROM public.telegram_chats\nWHERE project_key = 'ainews'\n  AND is_active = true;\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -3344,
        2288
      ],
      "id": "fd111016-ffba-4ad0-b7c1-115049c7ec14",
      "name": "БД: Получить ID чатов",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalization for Telegram updates (callback_query + message)\n// Works even if trigger node name differs (Telegram Trigger / Триггер Telegram)\n\nfunction pickTriggerItem() {\n  // Try by exact node names (most stable in complex flows)\n  try {\n    const a = $items(\"Триггер Telegram\");\n    if (a && a[0]) return a[0];\n  } catch (e) {}\n\n  try {\n    const b = $items(\"Telegram Trigger\");\n    if (b && b[0]) return b[0];\n  } catch (e) {}\n\n  // Fallback: sometimes the trigger payload is already in $json\n  const inItem = $input.first();\n  if (inItem && inItem.json) return inItem;\n\n  throw new Error(\"Telegram trigger item not found. Rename trigger node or execute workflow from trigger.\");\n}\n\nfunction unwrapTelegramPayload(j) {\n  // Different n8n/telegram nodes may wrap payload differently\n  // Prefer explicit wrappers, else return as-is\n  if (j && typeof j === \"object\") {\n    if (j.body && typeof j.body === \"object\") return j.body;\n    if (j.update && typeof j.update === \"object\") return j.update;\n  }\n  return j;\n}\n\nconst tgItem = pickTriggerItem();\nconst raw = tgItem.json || {};\nconst body = unwrapTelegramPayload(raw);\n\n// 1) CALLBACK HANDLING\nif (body && body.callback_query) {\n  const cq = body.callback_query;\n  const data = String(cq.data || cq.callback_data || \"\");\n  const parts = data.split(\"|\");\n\n  const action = (parts[0] || \"\").trim();\n  const newsId = (parts[1] || \"\").trim();\n  const target = (parts[2] || \"\").trim();\n\n  const msg = cq.message || null;\n  const chatId = msg && msg.chat ? msg.chat.id : null;\n  const messageId = msg ? msg.message_id : null;\n  const messageText = msg ? String(msg.text || msg.caption || \"\") : \"\";\n\n  return [{\n    json: {\n      type: \"callback\",\n      action: action,\n      router_action: action,\n      router_data: data,\n\n      news_id: newsId,\n      target: target || null,\n\n      query_id: cq.id || null,\n      from_id: cq.from ? cq.from.id : null,\n      chat_id: chatId,\n      message_id: messageId,\n      message_text: messageText\n    }\n  }];\n}\n\n// 2) MESSAGE HANDLING (text/voice/reply)\nif (body && body.message) {\n  const m = body.message;\n\n  return [{\n    json: {\n      type: \"message\",\n      from_id: m.from ? m.from.id : null,\n      chat_id: m.chat ? m.chat.id : null,\n      message_id: m.message_id || null,\n      text: String(m.text || \"\"),\n\n      voice_file_id: m.voice ? m.voice.file_id : null,\n      reply_to_message_id: (m.reply_to_message && m.reply_to_message.message_id) ? m.reply_to_message.message_id : null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    type: \"unknown\",\n    debug_input: body\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -3120,
        2288
      ],
      "id": "a01a0947-cd90-4c61-8586-34320898c886",
      "name": "Код: Нормализация"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "value2": "callback"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2896,
        2288
      ],
      "id": "b84e685e-35eb-43df-9f32-dbf31be53835",
      "name": "Если: Это кнопка?"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.query_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2672,
        2048
      ],
      "id": "da65b7bc-b3d6-4c41-81a7-e1752c8b9706",
      "name": "TG: Answer Callback",
      "webhookId": "f116e3ac-79a4-4018-9c5f-e9ab6b5b3b4b",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Код: Нормализация').item.json.action }}",
                    "rightValue": "A2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6861ac48-1d95-42ab-8187-5c97cfd2223a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "A2 (Одобрить)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Код: Нормализация').item.json.action }}",
                    "rightValue": "R2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "R2 (Правки)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Код: Нормализация').item.json.action }}",
                    "rightValue": "X2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "X2 (Скип)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Код: Нормализация').item.json.action }}",
                    "rightValue": "Edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Выбор типа правки"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Код: Нормализация').item.json.action }}",
                    "rightValue": "CancelEdit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Отмена"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Код: Нормализация').item.json.action }}",
                    "rightValue": "PubNow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Публикация: Сейчас"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Код: Нормализация').item.json.action }}",
                    "rightValue": "PubLater",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Публикация: Потом"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2400,
        2064
      ],
      "id": "9be6293f-c0f3-4880-b2ef-0ad84db73987",
      "name": "Switch: Действие"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Нормализация').item.json.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "⏰ Когда публикуем новость?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀 Прямо сейчас",
                    "additionalFields": {
                      "callback_data": "={{ 'PubNow|' + $('Код: Нормализация').first().json.news_id }}"
                    }
                  },
                  {
                    "text": "📅 Запланировать",
                    "additionalFields": {
                      "callback_data": "={{ 'PubLater|' + $('Код: Нормализация').first().json.news_id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔙 Назад",
                    "additionalFields": {
                      "callback_data": "={{ 'CancelEdit|' + $('Код: Нормализация').item.json.news_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2032,
        1584
      ],
      "id": "a60c61e9-3447-410b-a1ae-df9c522859d5",
      "name": "TG: Выбор времени",
      "webhookId": "778376b4-6155-4ee8-a381-4fdd212cee5c",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Нормализация').item.json.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "👇 Что именно будем править?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📢 Анонс",
                    "additionalFields": {
                      "callback_data": "={{ 'Edit|' + $('Код: Нормализация').item.json.news_id + '|announce' }}"
                    }
                  },
                  {
                    "text": "📜 Лонгрид",
                    "additionalFields": {
                      "callback_data": "={{ 'Edit|' + $('Код: Нормализация').item.json.news_id + '|longread' }}"
                    }
                  },
                  {
                    "text": "🖼 Картинка",
                    "additionalFields": {
                      "callback_data": "={{ 'Edit|' + $('Код: Нормализация').item.json.news_id + '|image' }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔙 Отмена (показать меню)",
                    "additionalFields": {
                      "callback_data": "={{ 'CancelEdit|' + $('Код: Нормализация').item.json.news_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1760,
        1776
      ],
      "id": "50669ccd-df19-46ec-b10e-fc04a4bfea98",
      "name": "TG: Меню правок",
      "webhookId": "071824ba-ea8a-4c41-afd6-ea388076da1f",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Нормализация').item.json.message_id }}",
        "text": "🗑 Новость в корзине",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2080,
        2032
      ],
      "id": "1aaa9654-a7ff-4a27-8bee-6d49729ed982",
      "name": "TG: Удалить кнопки (X2)",
      "webhookId": "fc8ea779-088d-436b-96f1-ebdbd9f11b43",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "text": "={{ '✏️ Выбрано: ' + ($('Код: Нормализация').item.json.target === 'announce' ? 'Анонс' : ($('Код: Нормализация').item.json.target === 'longread' ? 'Лонгрид' : ($('Код: Нормализация').item.json.target === 'image' ? 'Картинка' : 'Неизвестно (' + $('Код: Нормализация').item.json.target + ')'))) + '\\n\\nНапиши (или скажи), что изменить?' }}",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2096,
        2208
      ],
      "id": "c9ecda8a-f8db-4f46-bc9a-68633fab22da",
      "name": "TG: Запрос инструкции",
      "webhookId": "bf11dc16-5a69-4262-8ff6-f139a142c03e",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Нормализация').item.json.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Публикуем?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Публикация",
                    "additionalFields": {
                      "callback_data": "={{ 'A2|' + $json.id }}"
                    }
                  },
                  {
                    "text": "✍️ Правки",
                    "additionalFields": {
                      "callback_data": "={{ 'R2|' + $json.id }}"
                    }
                  },
                  {
                    "text": "🗑️ Скип",
                    "additionalFields": {
                      "callback_data": "={{ 'X2|' + $json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1872,
        2400
      ],
      "id": "9975e0d7-8aa3-4aaa-941f-240189dcff29",
      "name": "TG: Вернуть меню",
      "webhookId": "ed7f3341-259d-4a17-9306-1982a0e65b6d",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "text": "🚀 Новость поставлена в очередь (мгновенно). Ждите публикации.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -944,
        2624
      ],
      "id": "44d7967d-de7a-4a47-a563-f4ba4bc748ce",
      "name": "TG: Подтверждение (Now)",
      "webhookId": "067f1c81-7814-4638-951a-6a625581c701",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "text": "📅 Напиши дату и время публикации.\nПример: \"завтра в 10:00\" или \"через 2 часа\".",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2080,
        2816
      ],
      "id": "9b60df4a-9570-4a3f-8601-6aea8ba57978",
      "name": "TG: Спросить дату",
      "webhookId": "2139404f-ef40-4c7d-b1b4-e3a719a3ec3c",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.voice_file_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2720,
        3360
      ],
      "id": "d2f0911d-5f5f-465a-8ec8-c095703e818a",
      "name": "Если: Это голос?"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.voice_file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2496,
        3184
      ],
      "id": "ad24690d-3401-4470-bb6b-321b5d4a2cd1",
      "name": "TG: Скачать аудио",
      "webhookId": "65213544-abe0-497a-b38c-06d2820b0a59",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "ru"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -2240,
        3184
      ],
      "id": "2487cc47-b992-4b4e-b567-a77182d62b7b",
      "name": "OpenAI: Транскрибация",
      "credentials": {
        "openAiApi": {
          "id": "U1pcqbZS37eHdBPO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rewrite2_state }}",
                    "rightValue": "awaiting_announce",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Анонс"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rewrite2_state }}",
                    "rightValue": "awaiting_longread",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Лонгрид"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rewrite2_state }}",
                    "rightValue": "awaiting_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Картинка"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rewrite2_state }}",
                    "rightValue": "awaiting_pub_date",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Дата публикации"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1328,
        3344
      ],
      "id": "3b39e9f7-c73e-464e-a0c8-39eebf2295b1",
      "name": "Что правим?"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.output }}",
        "options": {
          "size": "1024x1024",
          "style": "vivid",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -1792,
        3728
      ],
      "id": "86705665-8eb1-4da6-a062-9b50c26a2dd9",
      "name": "OpenAI: DALL-E 3",
      "credentials": {
        "openAiApi": {
          "id": "U1pcqbZS37eHdBPO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "text": "={{ '📅 Запланировано на: ' +\n  new Date($items('Код: Генерация Jobs1')[$itemIndex].json.publish_at)\n    .toLocaleString('ru-RU', {\n      timeZone: 'Europe/Moscow',\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit'\n    })\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        4208
      ],
      "id": "b3c717da-8ede-48e3-9a43-a95c29e91248",
      "name": "TG: Подтверждение (План)",
      "webhookId": "39e626a0-5678-43c6-a37c-b05da7b73f9b",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Код: Нормализация').item.json.news_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2096,
        2400
      ],
      "id": "67377620-b340-40ba-ac92-a0d9d8fd64f9",
      "name": "БД: Данные восстановления",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "news_items",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "rewrite2_state",
              "condition": "like",
              "keyValue": "awaiting%"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1616,
        3376
      ],
      "id": "89e59c38-0db7-4453-9725-a448f105a8fd",
      "name": "БД: Найти активную правку",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Код: Нормализация').item.json.news_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "rewrite2_state",
              "fieldValue": "selecting"
            },
            {
              "fieldId": "rewrite2_requester_id",
              "fieldValue": "={{ $('Код: Нормализация').item.json.from_id }}"
            },
            {
              "fieldId": "rewrite2_requested_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1984,
        1776
      ],
      "id": "867d7d73-a6b2-4506-b192-8bd260588c1a",
      "name": "БД: Старт правки (R2)",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('БД: Найти активную правку').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "draft_longread",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "rewrite2_state",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "drafts_updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        3296
      ],
      "id": "dd4f7995-7570-4553-9af6-183c2fec00e3",
      "name": "БД: Обновить лонгрид",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Код: Нормализация').item.json.news_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "rewrite2_state",
              "fieldValue": "awaiting_pub_date"
            },
            {
              "fieldId": "rewrite2_request_message_id",
              "fieldValue": "={{ $json.result.message_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1888,
        2816
      ],
      "id": "e5bbec5a-fbe8-494d-b859-a6484b4af3b9",
      "name": "БД: Ждем дату",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('БД: Найти активную правку').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "draft_image_prompt",
              "fieldValue": "={{ $('AI: Промт для DALL-E').item.json.output }}"
            },
            {
              "fieldId": "draft_image_file_id",
              "fieldValue": "={{ $json.result.photo[3].file_id }}"
            },
            {
              "fieldId": "drafts_updated_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "rewrite2_state",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        3760
      ],
      "id": "305e7dc2-1336-4c3c-8b85-71267bf2a460",
      "name": "БД: Обновить картинку",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Нормализация').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1216,
        2624
      ],
      "id": "e8a08305-4759-4287-b902-a537f6f08296",
      "name": "TG: Удалить меню времени",
      "webhookId": "5661c516-167a-4dc9-9b6d-cbb31be16d42",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('БД: Найти активную правку').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "draft_announce",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "rewrite2_state",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "drafts_updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -688,
        2944
      ],
      "id": "7f02145a-d777-4b6a-84f0-2852cdb0dfee",
      "name": "БД: Обновить анонс",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-set",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "reply-set",
              "name": "reply_to_message_id",
              "value": "={{ $('Код: Нормализация').item.json.reply_to_message_id }}",
              "type": "string"
            },
            {
              "id": "chat-set",
              "name": "chat_id",
              "value": "={{ $('Код: Нормализация').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "from-set",
              "name": "from_id",
              "value": "={{ $('Код: Нормализация').item.json.from_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        3376
      ],
      "id": "01e15717-185d-4bda-a909-d3acbc6bcd91",
      "name": "Финальный текст"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('БД: Найти активную правку').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -416,
        2944
      ],
      "id": "43075432-40cb-441c-8513-f302ef4b2eb2",
      "name": "БД: Получить свежие данные",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Нормализация').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -192,
        2944
      ],
      "id": "2cd9bf59-8a06-42a3-b15c-1b9d1cc4782e",
      "name": "TG: Удалить ответ юзера",
      "webhookId": "20292647-c666-42b4-9861-a3d764e67bf7",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('БД: Получить свежие данные').item.json.rewrite2_question_message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        2944
      ],
      "id": "0e9157d2-e41b-4714-875e-3c7bfdc0ea6b",
      "name": "TG: Удалить вопрос бота",
      "webhookId": "00cd84ae-bd3b-4485-8fbb-efdbb3c5c568",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Код: Нормализация').item.json.news_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "rewrite2_state",
              "fieldValue": "={{ 'awaiting_' + $('Код: Нормализация').item.json.target }}"
            },
            {
              "fieldId": "rewrite2_request_message_id",
              "fieldValue": "={{ $('Код: Нормализация').item.json.message_id }}"
            },
            {
              "fieldId": "rewrite2_question_message_id",
              "fieldValue": "={{ $('TG: Запрос инструкции').item.json.result.message_id }}"
            },
            {
              "fieldId": "rewrite2_requester_id",
              "fieldValue": "={{ $('Код: Нормализация').item.json.from_id }}"
            },
            {
              "fieldId": "rewrite2_chat_id",
              "fieldValue": "={{ $('Код: Нормализация').item.json.chat_id }}"
            },
            {
              "fieldId": "rewrite2_requested_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1872,
        2208
      ],
      "id": "94909e07-f14c-4f49-b83e-ca25c45f726f",
      "name": "БД: Сохранить цель правки",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('БД: Получить свежие данные').first().json.approve2_text_message_id }}",
        "text": "=✅ Обновленный вариант: \n\n{{ $('БД: Получить свежие данные').item.json.draft_announce }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        2768
      ],
      "id": "8540105c-13fc-44ff-a0a1-659d7d270ca9",
      "name": "Обновить анонс",
      "webhookId": "7a099cfe-b97f-4d20-b997-245848763007",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('БД: Найти активную правку').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        3296
      ],
      "id": "900bf39b-efad-4fc6-948c-cb01964e7a5a",
      "name": "БД: Получить свежие данные1",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Нормализация').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -208,
        3296
      ],
      "id": "907672d7-0e66-45b0-9c5b-3823c7622b57",
      "name": "TG: Удалить ответ юзера1",
      "webhookId": "20292647-c666-42b4-9861-a3d764e67bf7",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('БД: Получить свежие данные1').item.json.rewrite2_question_message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        3296
      ],
      "id": "e06497b4-d90a-4be5-82a6-7200dd35d78b",
      "name": "TG: Удалить вопрос бота1",
      "webhookId": "00cd84ae-bd3b-4485-8fbb-efdbb3c5c568",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('БД: Получить свежие данные').item.json.approve2_message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=✅ Анонс обновлен. Публикуем новость?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Публикация",
                    "additionalFields": {
                      "callback_data": "={{ 'A2|' + $('БД: Получить свежие данные').item.json.id }}"
                    }
                  },
                  {
                    "text": "✍️ Правки",
                    "additionalFields": {
                      "callback_data": "={{ 'R2|' + $('БД: Получить свежие данные').item.json.id }}"
                    }
                  },
                  {
                    "text": "🗑️ Скип",
                    "additionalFields": {
                      "callback_data": "={{ 'X2|' + $('БД: Получить свежие данные').item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        3072
      ],
      "id": "d1b16a68-c393-43fe-91c9-9b070dd06f96",
      "name": "Уведомление + кнопки",
      "webhookId": "7a099cfe-b97f-4d20-b997-245848763007",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем данные\nconst item = $('БД: Получить свежие данные1').first();\n// Берем текст драфта\nconst text = item.json.draft_longread || item.json.longread || \"\";\n// Берем список старых ID (если есть)\nconst oldIds = item.json.approve2_longread_msg_ids || [];\n// Берем ID старого меню с кнопками\nconst oldButtonMsgId = item.json.approve2_message_id;\n\n// 3. Функция разбивки на чанки (3800 символов с запасом)\nfunction splitSmart(str, max) {\n  const res = [];\n  const parts = str.split(/\\n\\s*\\n/);\n  let buf = \"\";\n  for (const p of parts) {\n    if ((buf.length + p.length + 2) > max) { res.push(buf.trim()); buf = \"\"; }\n    buf = buf ? buf + \"\\n\\n\" + p : p;\n  }\n  if (buf) res.push(buf.trim());\n  return res.length ? res : [str];\n}\n\nconst chunks = splitSmart(text, 3800);\n\n// ЛОГИКА РЕШЕНИЯ:\n// Редактируем (Edit) ТОЛЬКО если:\n// 1. Старое сообщение было ровно одно.\n// 2. Новое сообщение тоже влезает в один чанк.\nconst canEdit = (oldIds.length === 1) && (chunks.length === 1);\n\nreturn {\n  json: {\n    can_edit: canEdit,\n    target_msg_id: oldIds[0],      // Для ветки Edit\n    old_ids: oldIds,               // Массив для удаления в ветке Rebuild\n    old_btn_id: oldButtonMsgId,    // Старая кнопка для удаления\n    chunks: chunks                 // Новые куски текста\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        3296
      ],
      "id": "0b53e8ba-959a-49e4-8c19-1c638e2f7671",
      "name": "Код: Анализ (Edit или Rebuild?)"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('БД: Найти активную правку').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -144,
        3760
      ],
      "id": "deb168e9-55da-4aa7-83ef-368081af4466",
      "name": "БД: Получить свежие данные2",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('БД: Получить свежие данные2').item.json.approve2_message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=✅ Картинка обновлена. Публикуем?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Публикация",
                    "additionalFields": {
                      "callback_data": "={{ 'A2|' + $('БД: Получить свежие данные2').item.json.id }}"
                    }
                  },
                  {
                    "text": "✍️ Правки",
                    "additionalFields": {
                      "callback_data": "={{ 'R2|' + $('БД: Получить свежие данные2').item.json.id }}"
                    }
                  },
                  {
                    "text": "🗑️ Скип",
                    "additionalFields": {
                      "callback_data": "={{ 'X2|' + $('БД: Получить свежие данные2').item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        3760
      ],
      "id": "8e82bc60-9de9-4cd1-9a9a-8ae5ff3b21de",
      "name": "Уведомление + кнопки1",
      "webhookId": "7a099cfe-b97f-4d20-b997-245848763007",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Нормализация').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        3552
      ],
      "id": "fd9f419f-5be3-4244-b473-d483100b4946",
      "name": "TG: Удалить ответ юзера2",
      "webhookId": "20292647-c666-42b4-9861-a3d764e67bf7",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('БД: Получить свежие данные2').item.json.rewrite2_question_message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        3952
      ],
      "id": "f183b3eb-8103-44c2-a3bd-2b2525d30cee",
      "name": "TG: Удалить вопрос бота2",
      "webhookId": "00cd84ae-bd3b-4485-8fbb-efdbb3c5c568",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('БД: Найти активную правку').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        4208
      ],
      "id": "f7ac1374-165f-494d-8df9-3bd186652657",
      "name": "БД: Получить свежие данные3",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Нормализация').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        4112
      ],
      "id": "9652354c-e091-4bec-a1dc-583e34aeb419",
      "name": "TG: Удалить ответ юзера3",
      "webhookId": "20292647-c666-42b4-9861-a3d764e67bf7",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $json.rewrite2_request_message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        4304
      ],
      "id": "b4fe2be9-890b-4bc2-9bf9-1d3e07f3bb9e",
      "name": "TG: Удалить вопрос бота3",
      "webhookId": "00cd84ae-bd3b-4485-8fbb-efdbb3c5c568",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $json.approve2_message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        4496
      ],
      "id": "4e6753c9-84d0-49b0-bc92-f3d38b64290a",
      "name": "TG: Удалить меню времени1",
      "webhookId": "5661c516-167a-4dc9-9b6d-cbb31be16d42",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "publish_recipes",
        "filters": {
          "conditions": [
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2080,
        2624
      ],
      "id": "3556aaed-2c44-4ad6-9c0c-ddd49589679e",
      "name": "БД: Получить Рецепты",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Берем рецепты (входящие данные)\nconst recipes = $input.all().map(r => r.json);\n\n// 2. ИЩЕМ ID НОВОСТИ (Умный поиск)\nlet newsId;\n\ntry {\n  // Попытка 1: Взять из начала сценария (Правильный путь для боевого режима)\n  // .first() берет первый элемент, даже если их там много\n  const normItem = $('Код: Нормализация').first();\n  if (normItem && normItem.json && normItem.json.news_id) {\n     newsId = normItem.json.news_id;\n  }\n} catch (error) {\n  // Ошибка значит, что мы тестируем ноду отдельно и n8n не видит прошлые шаги\n  console.log('Тестовый режим: Нода нормализации недоступна');\n}\n\n// Попытка 2: Если не нашли (или тестируем), берем ID из рецепта (если вдруг он там есть) \n// или ставим ЗАГЛУШКУ, чтобы ты увидел, что код работает.\nif (!newsId) {\n   newsId = \"00000000-0000-0000-0000-000000000000\"; // Тестовый ID (чтобы не было undefined)\n}\n\n// 3. ПОЛУЧАЕМ ДАТУ\nlet baseDateStr;\ntry {\n   // Пытаемся взять дату от AI (ветка План)\n   baseDateStr = $('AI: Парсинг даты').first().json.output;\n} catch (e) {\n   // Если ветка \"Сейчас\" или ошибка — берем текущее время\n   baseDateStr = new Date().toISOString();\n}\nconst baseDate = new Date(baseDateStr);\n\nconst results = [];\n\n// 4. Генерируем задачи\nfor (const recipe of recipes) {\n  let publishAt = new Date(baseDate);\n  \n  // Добавляем задержку (если это не главная платформа)\n  if (!recipe.is_main) {\n    publishAt.setHours(publishAt.getHours() + (recipe.delay_hours || 0));\n  }\n\n  results.push({\n    json: {\n      news_id: newsId,\n      platform: recipe.platform,\n      status: 'queued',\n      publish_at: publishAt.toISOString(),\n      created_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        2624
      ],
      "id": "0f90be41-ca9a-42fb-aa35-24eea3c268cd",
      "name": "Код: Генерация Jobs"
    },
    {
      "parameters": {
        "tableId": "publish_jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "news_id",
              "fieldValue": "={{ $json.news_id }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.platform }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "publish_at",
              "fieldValue": "={{ $json.publish_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1664,
        2624
      ],
      "id": "6fe344bc-89a6-4dd3-b61b-f3dec88e4f68",
      "name": "Create a row",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "publish_recipes",
        "filters": {
          "conditions": [
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -656,
        4208
      ],
      "id": "7bdf12c3-24a3-444c-8029-638a96f36319",
      "name": "БД: Получить Рецепты1",
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Recipes\nconst recipes = $('БД: Получить Рецепты1').all().map(r => r.json);\n\n// 2) News id (take from \"Что правим?\")\nconst newsId = $('Что правим?').first().json.id;\nif (!newsId) throw new Error('news_id is missing in node \"Что правим?\" (field: id)');\n\n// 3) Base datetime: take from AI node if possible\nconst aiItem = $('AI: Парсинг даты').first().json;\nconst aiStr = aiItem && aiItem.output ? String(aiItem.output) : '';\n\nlet baseMs = Date.parse(aiStr);\nif (Number.isNaN(baseMs)) {\n  baseMs = Date.now();\n}\n\n// 4) Build jobs\nconst nowIso = new Date().toISOString();\nconst results = [];\n\nfor (const recipe of recipes) {\n  const delayHours = Number(recipe.delay_hours || 0);\n  const isMain = recipe.is_main === true;\n\n  const publishMs = isMain ? baseMs : (baseMs + delayHours * 3600 * 1000);\n\n  results.push({\n    json: {\n      news_id: newsId,\n      platform: recipe.platform,\n      status: 'queued',\n      publish_at: new Date(publishMs).toISOString(),\n      created_at: nowIso,\n    }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        4208
      ],
      "id": "1727e05b-0c21-4cf7-924d-c13d461d0b86",
      "name": "Код: Генерация Jobs1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.news_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "approved_for_publish"
            },
            {
              "fieldId": "rewrite2_state",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "approve2_decision",
              "fieldValue": "approved"
            },
            {
              "fieldId": "approve2_decided_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "approve2_decided_by",
              "fieldValue": "={{ $('Код: Нормализация').item.json.from_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        4208
      ],
      "id": "74e00d1d-5384-453d-a5a1-1e12c28a4732",
      "name": "БД: Статус Approved1",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article context (short):\n{{ ($json.draft_announce || '').slice(0, 900) }}\n\nAdmin visual notes (optional, short):\n{{ (($('Финальный текст').item.json.text || '') + '').slice(0, 600) }}\n\n",
        "options": {
          "systemMessage": "Составь короткий промт для генерации тематического изображения, учитывая контекст анонса и заметки админа. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -944,
        3760
      ],
      "id": "b75c63d0-65f6-44d3-acf7-03053c6bfb78",
      "name": "AI: Промт для DALL-E",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты — редактор Telegram-канала про охоту.\n\nТвоя задача — переписать анонс, улучшив стиль и интригу, \nНО СТРОГО СОБЛЮДАЯ СТРУКТУРУ И ФОРМАТ ВЫХОДА.\n\nСТРУКТУРА ВЫХОДНОГО ТЕКСТА (ОБЯЗАТЕЛЬНО):\n1) Интрига — 2–3 предложения.\n2) Хэштеги — с новой строки, 2–3 тега, без #Охота.\n3) Призыв — СТРОГО последней строкой.\n\nКРИТИЧЕСКИЕ ПРАВИЛА (НАРУШАТЬ ЗАПРЕЩЕНО):\n- Последняя строка ОБЯЗАТЕЛЬНО должна быть призывом.\n- Последний символ всего текста ОБЯЗАТЕЛЬНО должен быть двоеточием (:).\n- После двоеточия НИЧЕГО не писать: ни пробелов, ни ссылок, ни символов.\n- Запрещено удалять или изменять формат призыва.\n- Если в процессе редактирования призыв был утерян — ВОССТАНОВИ его.\n\nДОПУСТИМЫЕ ВАРИАНТЫ ПРИЗЫВА (выбери один):\n- Читать далее:\n- Подробнее по ссылке:\n- Полный разбор ситуации:\n- Читайте подробности на сайте:\n\nОГРАНИЧЕНИЯ:\n- Общая длина текста — не более 900 символов.\n- Тон: живой, профессиональный, без воды.\n\nИСХОДНЫЕ ДАННЫЕ:\nИсходный анонс:\n{{ $json.draft_announce }}\n\nПожелания пользователя:\n{{ $('Финальный текст').item.json.text }}\n\nПЕРЕД ВЫВОДОМ:\nПроверь, что последняя строка — призыв и текст заканчивается двоеточием.\n\nВерни ТОЛЬКО финальный текст анонса. Без комментариев.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1024,
        2896
      ],
      "id": "ca49468e-f74c-4750-bde5-8e61d1b9feae",
      "name": "AI: Переписать анонс",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Сейчас: {{ $now }}. Часовой пояс +3 (Москва).\nПользователь написал: \n{{ $('Финальный текст').item.json.text }}\n\nЗАДАЧА:\nПереведи этот текст в дату формата ISO 8601 (YYYY-MM-DDTHH:mm:ssZ).\nЕсли пользователь написал \"завтра в 10\", считай от текущего времени.\nВерни ТОЛЬКО строку даты.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -976,
        4208
      ],
      "id": "deafa14b-df87-46b5-8cda-a5ae912e6098",
      "name": "AI: Парсинг даты",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Исходный лонгрид:\n{{ $json.draft_longread }}\n\nЗАДАЧА:\nПерепиши лонгрид, учитывая пожелания:\n{{ $('Финальный текст').item.json.text }}\n\nВерни ТОЛЬКО markdown текст.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1008,
        3296
      ],
      "id": "de9885c6-2597-475c-a259-ca57a3de405a",
      "name": "AI: Переписать лонгрид",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6b13aa61-d9e0-4f45-88ab-802474075546",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "A1",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "4596e4cd-7f55-44e4-921c-24894d4bc8b9",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "X1",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "0a6c9b23-86c0-4d7b-a30d-8443a214e878",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "bb9e8a37-5b70-473e-8ac2-620a8e2261b9",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "reject",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4240,
        288
      ],
      "id": "2f85773a-ad95-4498-ab5d-60042970a7e5",
      "name": "rss?"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.can_edit }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1056,
        3296
      ],
      "id": "71ac1f68-f72a-4695-84a2-435ac61e75e7",
      "name": "IF: Можно просто обновить?"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('БД: Получить свежие данные1').item.json.approve2_longread_msg_ids[0] }}",
        "text": "=✅ Обновленный вариант: \n\n{{ $json.chunks[0] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        2656
      ],
      "id": "345f7065-3a2d-4374-ba43-e28a2952d118",
      "name": "TG: Просто обновить (Edit)",
      "webhookId": "141c058f-8709-4061-913f-7474dc4629ab",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготовка к УДАЛЕНИЮ СТАРЫХ СООБЩЕНИЙ\nreturn $json.old_ids.map(id => ({ json: { msg_id: id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        3456
      ],
      "id": "4e8d9dbf-ad53-4070-b867-bbd3b0f66762",
      "name": "Код: ID для удаления"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        3456
      ],
      "id": "d35f6eb6-58ca-472d-8a84-3851152a09aa",
      "name": "Цикл: Удаление"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $json.msg_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        3600
      ],
      "id": "ccf4a46e-fcf4-4abf-8eed-f916df621743",
      "name": "TG: Удалить (Loop)",
      "webhookId": "1a976dce-b778-42a1-ab53-c8e3273e2c5c",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем данные (массив чанков или сырой текст) из ноды анализа\n// Важно: в твоем случае данные лежат в ноде \"Код: Анализ (Edit или Rebuild?)\"\nconst analysisNode = $('Код: Анализ (Edit или Rebuild?)').first();\nlet chunks = analysisNode ? analysisNode.json.chunks : [];\n\n// ЗАЩИТА: Если чанков нет или они пустые\nif (!chunks || chunks.length === 0) {\n  return []; // Возвращаем пустоту, чтобы цикл не сломался\n}\n\n// 2. ФУНКЦИЯ ОЧИСТКИ (Самое важное)\n// Убирает ```markdown в начале и ``` в конце, если они есть\nfunction cleanText(text) {\n  if (!text) return \"\";\n  return String(text)\n    .replace(/^```[a-z]*\\s*/i, \"\") // Убирает ```markdown\n    .replace(/```\\s*$/, \"\")         // Убирает ``` в конце\n    .trim();\n}\n\n// 3. Формируем массив для отправки\n// Проходимся по всем чанкам и чистим каждый (на всякий случай)\nreturn chunks.map((chunk, i) => {\n  const cleanChunk = cleanText(chunk);\n  \n  // Добавляем нумерацию [1/3], если сообщений больше одного\n  const prefix = chunks.length > 1 ? `[${i + 1}/${chunks.length}]\\n\\n` : \"\";\n  \n  return {\n    json: {\n      text: prefix + cleanChunk\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        3360
      ],
      "id": "bf95b93a-0004-4317-b214-bd49a44be0ca",
      "name": "Код: Чанки для отправки"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2224,
        3360
      ],
      "id": "4dc693c8-0501-41ce-b2b8-fc6fb08f5fa1",
      "name": "Цикл: Отправка"
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "text": "=✅ Обновленный вариант: \n\n{{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2496,
        3520
      ],
      "id": "09e7bdf3-ce85-4083-ab1a-93fb14d4329e",
      "name": "TG: Отправить (Loop)",
      "webhookId": "4be7477a-5f4e-41ec-8d2f-7d83889ccbc8",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('БД: Получить свежие данные1').item.json.approve2_message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=✅ Лонгрид обновлен. Публикуем новость?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Публикация",
                    "additionalFields": {
                      "callback_data": "={{ 'A2|' + $('БД: Получить свежие данные1').item.json.id }}"
                    }
                  },
                  {
                    "text": "✍️ Правки",
                    "additionalFields": {
                      "callback_data": "={{ 'R2|' + $('БД: Получить свежие данные1').item.json.id }}"
                    }
                  },
                  {
                    "text": "🗑️ Скип",
                    "additionalFields": {
                      "callback_data": "={{ 'X2|' + $('БД: Получить свежие данные1').item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        2656
      ],
      "id": "1f78012b-4f54-4c01-bde6-a6992ce080ad",
      "name": "Уведомление + кнопки2",
      "webhookId": "455f169c-1494-4300-baa5-67d13265f56f",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "messageId": "={{ $('Код: Анализ (Edit или Rebuild?)').first().json.old_btn_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3424,
        3312
      ],
      "id": "ba732225-7ada-402c-8f60-ed7c49afcac8",
      "name": "TG: Удалить старые кнопки",
      "webhookId": "455f169c-1494-4300-baa5-67d13265f56f",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.news_items\nSET\n  approve2_longread_msg_ids = $2\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [ $json.final_news_id, $json.final_msg_ids ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        4048,
        16
      ],
      "id": "b6285919-77d0-460e-adbf-a0398ad1368c",
      "name": "БД: Сохранить лонгрид approve2_longread_msg_ids",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.news_items\nSET\n  approve2_message_id = $2,\n  approve2_chat_id = $3\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [\n  $('БД: Сохранить черновики2').first().json.news_id,\n  $json.result.message_id,\n  $json.result.chat.id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        4544,
        16
      ],
      "id": "08e7ba2c-3cb7-4285-9fcc-0aadda551232",
      "name": "БД: Сохранить id кнопок",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const nodeName = \"TG: Апрув-2 (лонгрид часть)\";\nconst allIds = [];\nlet runIndex = 0;\nlet safetyBreak = 0;\n\n// БЕСКОНЕЧНЫЙ ЦИКЛ ПО ИСТОРИИ ЗАПУСКОВ\n// Мы будем стучаться в n8n: \"Дай данные 1-го круга\", \"Дай данные 2-го круга\" и т.д.\nwhile(safetyBreak < 100) { // Защита от зависания\n    try {\n        // $items(ИмяНоды, ИндексВыхода, ИндексЗапуска)\n        // Пытаемся взять данные конкретного круга (runIndex)\n        const executionItems = $items(nodeName, 0, runIndex);\n        \n        if (!executionItems || executionItems.length === 0) {\n            break; // Если данных нет — значит круги кончились\n        }\n\n        // Забираем ID из этого круга\n        executionItems.forEach(item => {\n            if (item.json.result && item.json.result.message_id) {\n                allIds.push(item.json.result.message_id);\n            }\n        });\n\n        runIndex++;     // Идем к следующему кругу\n        safetyBreak++;\n    } catch (error) {\n        // Если n8n выдал ошибку (нет такого индекса) — останавливаемся\n        break;\n    }\n}\n\n// Получаем ID новости (для базы)\nlet newsId = null;\ntry {\n  newsId = $('БД: Сохранить черновики2').first().json.news_id;\n} catch(e) {}\n\nreturn {\n    json: {\n        final_news_id: newsId,\n        final_msg_ids: JSON.stringify(allIds), // Теперь тут будет \"[303, 304]\"\n        count: allIds.length\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        16
      ],
      "id": "1fb00de5-090f-40b0-9e17-5b3238a191fb",
      "name": "Код: Собрать ID"
    },
    {
      "parameters": {
        "jsCode": "const nodeName = \"TG: Отправить (Loop)\";\nconst allIds = [];\nlet runIndex = 0;\nlet safetyBreak = 0;\n\n// 1. БЕСКОНЕЧНЫЙ ЦИКЛ ПО ИСТОРИИ ЗАПУСКОВ\nwhile(safetyBreak < 100) {\n    try {\n        // $items(ИмяНоды, ИндексВыхода, ИндексЗапуска)\n        const executionItems = $items(nodeName, 0, runIndex);\n        \n        if (!executionItems || executionItems.length === 0) {\n            break;\n        }\n\n        // Забираем ID\n        executionItems.forEach(item => {\n            if (item.json.result && item.json.result.message_id) {\n                allIds.push(item.json.result.message_id);\n            }\n        });\n\n        runIndex++;\n        safetyBreak++;\n    } catch (error) {\n        break;\n    }\n}\n\n// 2. Получаем ID новости из контекста (выше по потоку)\nlet newsId = null;\ntry {\n  // В этом участке схемы данные лежат в ноде \"БД: Получить свежие данные1\"\n  newsId = $('БД: Получить свежие данные1').first().json.id;\n} catch(e) {\n  newsId = null;\n}\n\nreturn {\n    json: {\n        final_news_id: newsId,\n        final_msg_ids: JSON.stringify(allIds), \n        count: allIds.length\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        3312
      ],
      "id": "8099e907-8091-4ded-a68a-256d093c2b36",
      "name": "Код: Собрать ID (Rebuild)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.news_items\nSET\n  approve2_longread_msg_ids = $2\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [ $json.final_news_id, $json.final_msg_ids ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2720,
        3312
      ],
      "id": "db4c3b1a-8355-458b-a6da-75e07fa52d42",
      "name": "БД: Сохранить лонгрид (Rebuild)",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.news_items\nSET\n  approve2_message_id = $2,\n  approve2_chat_id = $3\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [\n  $('Код: Собрать ID (Rebuild)').first().json.final_news_id,\n  $json.result.message_id,\n  $json.result.chat.id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3168,
        3312
      ],
      "id": "2742cc63-1e05-4e6b-977d-7b903c09a8fa",
      "name": "БД: Сохранить кнопку (Rebuild)",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('БД: Получить ID чатов').first().json.approve_chat_id }}",
        "text": "✅ Лонгрид обновлен. Публикуем?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Публикация",
                    "additionalFields": {
                      "callback_data": "={{ 'A2|' + $('БД: Получить свежие данные1').first().json.id }}"
                    }
                  },
                  {
                    "text": "✍️ Правки",
                    "additionalFields": {
                      "callback_data": "={{ 'R2|' + $('БД: Получить свежие данные1').first().json.id }}"
                    }
                  },
                  {
                    "text": "🗑️ В корзину",
                    "additionalFields": {
                      "callback_data": "={{ 'X2|' + $('БД: Получить свежие данные1').first().json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2944,
        3312
      ],
      "id": "f1efe9fa-d6c9-4657-89d8-b7714cffd7bc",
      "name": "TG: Апрув-2 (НОВЫЕ кнопки)1",
      "webhookId": "d8c99276-b352-4077-831b-02939ef152e6",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "efd22d68-eb0e-41f4-b904-ed8f72126447",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1424,
        1584
      ],
      "id": "e883ef90-c983-4884-b310-b3f2ff9c5443",
      "name": "Если: Уже есть активная правка?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title FROM public.news_items\nWHERE rewrite2_state IS NOT NULL\nAND id != $1\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('Код: Нормализация').item.json.news_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1840,
        1584
      ],
      "id": "807b697f-4b18-44c5-aa73-4ac0d252e0a3",
      "name": "БД: Проверка занятости",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').first().json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').first().json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Нельзя редактировать две новости одновременно!\nСейчас в работе:\n{{ $json.title }}.  \nПожалуйста, завершите её, а потом возвращайтесь к этой.",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔙 Понял",
                    "additionalFields": {
                      "callback_data": "={{ 'CancelEdit|' + $('Код: Нормализация').item.json.news_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1136,
        1568
      ],
      "id": "325eb16a-c3e9-4455-9c97-0de5c39be5fd",
      "name": "TG: Ошибка (Занято)",
      "webhookId": "3413bd5b-5e01-41c8-b319-7c58070d1657",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title\nFROM public.news_items\nWHERE\n  status::text IN ('drafts_ready', 'needs_review', 'approved_for_adaptation', 'generated')\n  AND LOWER(COALESCE(approve2_decision,'')) NOT IN ('approved','skip')\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('Разобрать нажатие').item.json.news_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2672,
        -80
      ],
      "id": "9acef0d0-a584-4644-a758-bb2eb0447562",
      "name": "БД: Проверка очереди RSS",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "54f6c82f-0878-4e70-b140-1657065c18b6",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2464,
        -80
      ],
      "id": "3c967238-6645-49b0-aa08-12166dac4ee0",
      "name": "Если: Очередь занята?"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Разобрать нажатие').item.json.tg_chat_id }}",
        "messageId": "={{ $('Разобрать нажатие').item.json.tg_message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text }}\n\n⛔ <b>Очередь аппрува занята!</b>\nВ работе висит новость:\n👉 <b>{{ $json.title }}</b>\nСначала опубликуйте её или отправьте в корзину, затем возвращайтесь сюда.",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔄 Попробовать снова",
                    "additionalFields": {
                      "callback_data": "={{ 'A1|' + $('Разобрать нажатие').item.json.news_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2208,
        -96
      ],
      "id": "f134cb09-1e42-4de2-a871-33193e7cce29",
      "name": "TG: Ошибка очереди",
      "webhookId": "a20fd838-781f-4366-b76f-016e80990532",
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8509009391:AAGBWp-mq4OGs7WZJH0umlu8-0JORZc_H7A/editMessageMedia",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('БД: Получить свежие данные2').item.json.approve2_chat_id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('БД: Получить свежие данные2').item.json.approve2_photo_message_id }}"
            },
            {
              "name": "media",
              "value": "={{ JSON.stringify({ type: 'photo', media: 'attach://photo', caption: $('БД: Получить свежие данные2').item.json.title || '', parse_mode: 'HTML' }) }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "photo",
              "inputDataFieldName": "photo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        3760
      ],
      "id": "d3f91846-03cb-48d8-a882-49538f3ab68a",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Код: Нормализация').item.json.news_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "approve2_decision",
              "fieldValue": "skip"
            },
            {
              "fieldId": "approve2_decided_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "approve2_decided_by",
              "fieldValue": "={{ $('Код: Нормализация').item.json.from_id }}"
            },
            {
              "fieldId": "rewrite2_state",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1856,
        2032
      ],
      "id": "19dd4e09-04b0-42fb-ad61-7d785939c547",
      "name": "БД: Скип (X2)",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "news_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Код: Нормализация').item.json.news_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "approve2_decision",
              "fieldValue": "approved"
            },
            {
              "fieldId": "approve2_decided_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "approve2_decided_by",
              "fieldValue": "={{ $('Код: Нормализация').item.json.from_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "approved_for_publish"
            },
            {
              "fieldId": "rewrite2_state",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1472,
        2624
      ],
      "id": "5beb55a5-4695-4d0d-ab91-ef8decfb5f8f",
      "name": "БД: Статус Approved",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "publish_jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "news_id",
              "fieldValue": "={{ $('БД: Найти активную правку').first().json.id }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.platform }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "publish_at",
              "fieldValue": "={{ $json.publish_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        4208
      ],
      "id": "1fd51117-1fc5-4d34-88ee-5b59bf6addb6",
      "name": "Создать запись публикации",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "0jybqWrEmbw0Wb5i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca9b9188-a581-4b59-a2f4-9297a97eae41",
              "name": "announce",
              "value": "={{ [$json.draft_title || $json.title || '', $json.announce || ''].filter(v => String(v||'').trim()).join('\\n\\n') }}",
              "type": "string"
            },
            {
              "id": "ad4a7d24-f9be-456d-8fbf-dfa3528bf438",
              "name": "longread_text",
              "value": "={{ [$json.draft_title || $json.title || '', $json.longread_text || ''].filter(v => String(v||'').trim()).join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        304
      ],
      "id": "d706819c-b89d-457f-a691-e7a545e37c67",
      "name": "+title"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TEXT:\n{{ $json.cleanedText }}",
        "options": {
          "systemMessage": "={{ $('Получить промты').item.json.prompts.rewrite_title }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -416
      ],
      "id": "7c1d1f09-4187-46ce-951d-b925d1b1de94",
      "name": "Драфт заголовка"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.news_items\nSET draft_title = $2,\n    updated_at = now()\nWHERE id = $1\nRETURNING\n  id, title, draft_title, canonical_url, source_name, rss_summary, published_at,\n  gate1_decision, gate1_score, gate1_tags, gate1_reason;\n",
        "options": {
          "queryReplacement": "={{ [\n  $('Метаданные новости').first().json.news_id,\n  $json.draft_title || $('Метаданные новости').first().json.title || ''\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        -416
      ],
      "id": "6cde73fb-096a-439a-838a-9c79d6e46e1a",
      "name": "update драфт",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw =\n  $json.output ??\n  $json.text ??\n  $json.response ??\n  $json.data ??\n  $json.choices?.[0]?.message?.content ??\n  \"\";\n\n// If agent returned JSON string accidentally, try to parse and extract title-like field\nlet title = \"\";\nif (typeof raw === \"string\") {\n  const s = raw.trim();\n  try {\n    const obj = JSON.parse(s);\n    title =\n      String(obj.draft_title ?? obj.title ?? obj.output ?? \"\").trim();\n  } catch (e) {\n    title = s;\n  }\n} else {\n  title = String(raw ?? \"\").trim();\n}\n\n// Hard cleanup (one line, no quotes)\ntitle = title.replace(/\\s+/g, \" \").replace(/^[\"'«»]+|[\"'«»]+$/g, \"\").trim();\n\n// Fallback if empty\nif (!title) title = String($('Метаданные новости').first().json.title ?? \"\").trim();\n\nreturn [\n  {\n    json: {\n      ...$json,\n      draft_title: title\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -416
      ],
      "id": "fa77bf97-8ff0-4eac-91e8-561823be460e",
      "name": "Нормализация draft title"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9756b59b-fe6b-4a9f-94a7-845885a39eaf",
              "name": "draft_title",
              "value": "={{ $('Нормализация draft title').item.json.draft_title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        -416
      ],
      "id": "194f56fe-3ad0-417d-a500-e09a2f713f1a",
      "name": "Заголовок"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2304,
        -288
      ],
      "id": "73fa18a5-8e2d-451a-abec-81195f5941d2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        -208
      ],
      "id": "470a9829-581e-45c4-96c5-06ebd6b6fdeb",
      "name": "r. draft title",
      "credentials": {
        "openRouterApi": {
          "id": "OPxPNafAYGtjuKlH",
          "name": "AI News"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        480,
        176
      ],
      "id": "81ebd813-1498-49a5-a29c-acb941af8128",
      "name": "r. draft anounce",
      "credentials": {
        "openRouterApi": {
          "id": "OPxPNafAYGtjuKlH",
          "name": "AI News"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        656
      ],
      "id": "aef6edc8-7485-4f36-90a5-b8c46a759c11",
      "name": "r. draft longrid",
      "credentials": {
        "openRouterApi": {
          "id": "OPxPNafAYGtjuKlH",
          "name": "AI News"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        592,
        1280
      ],
      "id": "d7ec1e74-77b0-4d77-a457-8ea9cbfebbeb",
      "name": "r. draft pic",
      "credentials": {
        "openRouterApi": {
          "id": "OPxPNafAYGtjuKlH",
          "name": "AI News"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const msg = $json.choices?.[0]?.message || {};\nconst dataUrl =\n  msg.images?.[0]?.image_url?.url ||\n  msg.images?.[0]?.imageUrl?.url;\n\nif (!dataUrl || !dataUrl.startsWith(\"data:\")) {\n  throw new Error(\"No image data URL\");\n}\n\nconst comma = dataUrl.indexOf(\",\");\nconst meta = dataUrl.slice(5, comma); // \"image/png;base64\"\nconst mimeType = meta.split(\";\")[0];\nconst base64 = dataUrl.slice(comma + 1);\n\nconst bytes = Math.floor(base64.length * 3 / 4);\nconst mb = +(bytes / 1024 / 1024).toFixed(2);\n\nreturn {\n  json: {\n    size_mb: mb,\n    caption: msg.content || \"\"\n  },\n  binary: {\n    photo: {\n      data: base64,\n      mimeType: mimeType,\n      fileName: \"img.png\"\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1008
      ],
      "id": "0710c55e-479f-4d89-80f2-e5c50ad31243",
      "name": "DataURL -> Binary1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.io"
            },
            {
              "name": "X-Title",
              "value": "n8n-dev"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"google/gemini-2.5-flash-image\",\n  \"messages\": [{ \"role\": \"user\", \"content\": \"{{ $json.output }}\" }],\n  \"modalities\": [\"image\", \"text\"],\n  \"image_config\": {\n    \"aspect_ratio\": \"16:9\",\n    \"image_size\": \"1K\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        1008
      ],
      "id": "4021cc15-ab6b-4103-b37e-42475e564004",
      "name": "OpenRouter: Image",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ujxf37NtSZLQ3mZC",
          "name": "Openrouter API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-field",
              "name": "image_prompt",
              "value": "={{ $('Промт 3. ИИ: Картинка').item.json.output }}",
              "type": "string"
            },
            {
              "id": "url-field",
              "name": "image_url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4016,
        2576
      ],
      "id": "1c206c52-cde0-40f4-9c2d-895de0e7dd6b",
      "name": "image_url1"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('БД: Чаты Telegram').first().json.approve_chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "photo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        1008
      ],
      "id": "ed3ae1eb-ad9f-410f-8d05-8de789d44196",
      "name": "TG: Апрув-2 (фото)1",
      "webhookId": "0a567f92-1cda-4ab8-affd-8cf9ba927238",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.news_items\nSET \n  approve2_photo_message_id = $2,\n  draft_image_file_id = $3\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [ \n  $('Метаданные новости').first().json.news_id, \n  $json.result.message_id, \n  $json.result.photo.slice(-1)[0].file_id \n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1648,
        1008
      ],
      "id": "4357a95d-5c39-406e-85b7-cce65f5f019f",
      "name": "БД: Сохранить ID фото1",
      "credentials": {
        "postgres": {
          "id": "Apw2GZOwP2Hlrwwo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1008,
        3520
      ],
      "id": "1dc4c475-2033-497f-a7cf-329c455bb62a",
      "name": "r. gpt 5.2",
      "credentials": {
        "openRouterApi": {
          "id": "OPxPNafAYGtjuKlH",
          "name": "AI News"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -944,
        3952
      ],
      "id": "a6f6c9c1-cb0e-42f5-b7a1-7ffd84a42e95",
      "name": "r. gpt 5.2 (1)",
      "credentials": {
        "openRouterApi": {
          "id": "OPxPNafAYGtjuKlH",
          "name": "AI News"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1024,
        3104
      ],
      "id": "2a8003d1-6e5f-4ad2-be24-2580bf65be17",
      "name": "r. gpt 5.2 (2)",
      "credentials": {
        "openRouterApi": {
          "id": "OPxPNafAYGtjuKlH",
          "name": "AI News"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -976,
        4432
      ],
      "id": "f0e79cd5-ef03-4b6e-a183-e0a2bbd6ed1e",
      "name": "r. gpt 5  nano",
      "credentials": {
        "openRouterApi": {
          "id": "OPxPNafAYGtjuKlH",
          "name": "AI News"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const msg = $json.choices?.[0]?.message || {};\nconst dataUrl =\n  msg.images?.[0]?.image_url?.url ||\n  msg.images?.[0]?.imageUrl?.url;\n\nif (!dataUrl || !dataUrl.startsWith(\"data:\")) {\n  throw new Error(\"No image data URL\");\n}\n\nconst comma = dataUrl.indexOf(\",\");\nconst meta = dataUrl.slice(5, comma); // \"image/png;base64\"\nconst mimeType = meta.split(\";\")[0];\nconst base64 = dataUrl.slice(comma + 1);\n\nconst bytes = Math.floor(base64.length * 3 / 4);\nconst mb = +(bytes / 1024 / 1024).toFixed(2);\n\nreturn {\n  json: {\n    size_mb: mb,\n    caption: msg.content || \"\"\n  },\n  binary: {\n    photo: {\n      data: base64,\n      mimeType: mimeType,\n      fileName: \"img.png\"\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        3760
      ],
      "id": "0f62d0b3-d266-4c30-a089-a5ea52eb25bb",
      "name": "DataURL -> Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.io"
            },
            {
              "name": "X-Title",
              "value": "n8n-dev"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"google/gemini-2.5-flash-image\",\n  \"messages\": [{ \"role\": \"user\", \"content\": \"{{ $json.output }}\" }],\n  \"modalities\": [\"image\", \"text\"],\n  \"image_config\": {\n    \"aspect_ratio\": \"16:9\",\n    \"image_size\": \"1K\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -608,
        3760
      ],
      "id": "67f65865-f64a-48c8-aae9-4653689729b1",
      "name": "OpenRouter: Image1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ujxf37NtSZLQ3mZC",
          "name": "Openrouter API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8509009391:AAGBWp-mq4OGs7WZJH0umlu8-0JORZc_H7A/editMessageMedia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  chat_id: $json.approve2_chat_id,\n  message_id: Number($json.approve2_photo_message_id),\n  media: JSON.stringify({\n    type: 'photo',\n    media: $('OpenAI: DALL-E 3').item.json.url,\n    caption: $json.title || '',\n    parse_mode: 'HTML'\n  })\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        3584
      ],
      "id": "f98284fc-7d8b-471e-914f-cea7187c0057",
      "name": "HTTP Request2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        3760
      ],
      "id": "4ebd52a8-6761-4d4e-9542-a4cbdf1ef7f9",
      "name": "Merge2"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-audio-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1072,
        -528
      ],
      "id": "f9a399dd-1c7d-476c-a1d4-29e33eef7377",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "OPxPNafAYGtjuKlH",
          "name": "AI News"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "=392453315",
        "file": "BQACAgIAAxkBAAO1aXpjp7WteIFQCcHcgXcGOx9ZL2UAAqeZAAIfcdFLO_l-T5gSYlk4BA",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2656,
        -16
      ],
      "id": "9ad2058c-e4cb-49de-a3d7-0a28a5fdf85d",
      "name": "TG: Апрув-2 (фото)2",
      "webhookId": "0a567f92-1cda-4ab8-affd-8cf9ba927238",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "XWRfnd8MJgwnkvmg",
          "name": "KHC"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "rss?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разобрать нажатие": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "Нужные кнопки?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Записать решение в БД": {
      "main": [
        [
          {
            "node": "Отредактировать кнопку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скачать HTML": {
      "main": [
        [
          {
            "node": "Получилось скачать страницу?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Экстрактор: Текст статьи": {
      "main": [
        [
          {
            "node": "Получилось привести в порядок?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метаданные новости": {
      "main": [
        [
          {
            "node": "Скачать HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Чаты Telegram": {
      "main": [
        [
          {
            "node": "Записать решение в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: Очистка текста": {
      "main": [
        [
          {
            "node": "Получить промты",
            "type": "main",
            "index": 0
          },
          {
            "node": "Статья+промты",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TG: Апрув-2 (фото)": {
      "main": [
        [
          {
            "node": "БД: Сохранить ID фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Апрув-2 (анонс)": {
      "main": [
        [
          {
            "node": "Код: Разбить лонгрид для ТГ",
            "type": "main",
            "index": 0
          },
          {
            "node": "БД: Сохранить ID анонса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Сохранить черновики2": {
      "main": [
        [
          {
            "node": "Если: Есть картинка?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если: Есть картинка?2": {
      "main": [
        [
          {
            "node": "TG: Апрув-2 (анонс)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Апрув-2 (анонс)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ИИ: Лонгрид": {
      "main": [
        [
          {
            "node": "Лонгрид",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ИИ: Анонс": {
      "main": [
        [
          {
            "node": "Анонс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Промт 3. ИИ: Картинка": {
      "main": [
        [
          {
            "node": "OpenRouter: Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть картинка?": {
      "main": [
        [
          {
            "node": "Промт 3. ИИ: Картинка",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Промт 3. ИИ: Картинка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Нормализовать",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получилось скачать страницу?": {
      "main": [
        [
          {
            "node": "Экстрактор: Текст статьи",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Не удалось скачать страницу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получилось привести в порядок?": {
      "main": [
        [
          {
            "node": "Код: Очистка текста",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Не удалось скачать страницу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Картинка": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Лонгрид": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Анонс": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нормализовать": {
      "main": [
        [
          {
            "node": "+title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "БД: Сохранить черновики2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Апрув-2 (кнопки)1": {
      "main": [
        [
          {
            "node": "БД: Сохранить id кнопок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: Разбить лонгрид для ТГ": {
      "main": [
        [
          {
            "node": "Цикл: Части лонгрида",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл: Части лонгрида": {
      "main": [
        [
          {
            "node": "Код: Собрать ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Апрув-2 (лонгрид часть)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Апрув-2 (лонгрид часть)": {
      "main": [
        [
          {
            "node": "Цикл: Части лонгрида",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Аппрувим RSS?": {
      "main": [
        [
          {
            "node": "БД: Проверка очереди RSS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "БД: Отклонить (X1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Отклонить (X1)": {
      "main": [
        [
          {
            "node": "TG: Новость отклонена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужные кнопки?": {
      "main": [
        [
          {
            "node": "Аппрувим RSS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Генерация картинки": {
      "main": [
        []
      ]
    },
    "image_url": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "БД: Сохранить ID фото": {
      "main": [
        []
      ]
    },
    "Получить id": {
      "main": [
        [
          {
            "node": "Метаданные новости",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отредактировать кнопку": {
      "main": [
        [
          {
            "node": "Получить id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить промты": {
      "main": [
        [
          {
            "node": "Статья+промты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статья+промты": {
      "main": [
        [
          {
            "node": "ИИ: Анонс",
            "type": "main",
            "index": 0
          },
          {
            "node": "ИИ: Лонгрид",
            "type": "main",
            "index": 0
          },
          {
            "node": "Есть картинка?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Драфт заголовка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Получить ID чатов": {
      "main": [
        [
          {
            "node": "Код: Нормализация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: Нормализация": {
      "main": [
        [
          {
            "node": "Если: Это кнопка?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если: Это кнопка?": {
      "main": [
        [
          {
            "node": "TG: Answer Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Если: Это голос?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Answer Callback": {
      "main": [
        [
          {
            "node": "Switch: Действие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Действие": {
      "main": [
        [
          {
            "node": "TG: Выбор времени",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "БД: Старт правки (R2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Удалить кнопки (X2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Запрос инструкции",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "БД: Данные восстановления",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "БД: Получить Рецепты",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Спросить дату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Удалить кнопки (X2)": {
      "main": [
        [
          {
            "node": "БД: Скип (X2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Запрос инструкции": {
      "main": [
        [
          {
            "node": "БД: Сохранить цель правки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Спросить дату": {
      "main": [
        [
          {
            "node": "БД: Ждем дату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если: Это голос?": {
      "main": [
        [
          {
            "node": "TG: Скачать аудио",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Финальный текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Скачать аудио": {
      "main": [
        [
          {
            "node": "OpenAI: Транскрибация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Транскрибация": {
      "main": [
        [
          {
            "node": "Финальный текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Что правим?": {
      "main": [
        [
          {
            "node": "AI: Переписать анонс",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI: Переписать лонгрид",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI: Промт для DALL-E",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI: Парсинг даты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: DALL-E 3": {
      "main": [
        []
      ]
    },
    "TG: Подтверждение (План)": {
      "main": [
        [
          {
            "node": "БД: Получить свежие данные3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Данные восстановления": {
      "main": [
        [
          {
            "node": "TG: Вернуть меню",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Найти активную правку": {
      "main": [
        [
          {
            "node": "Что правим?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Старт правки (R2)": {
      "main": [
        [
          {
            "node": "TG: Меню правок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Обновить лонгрид": {
      "main": [
        [
          {
            "node": "БД: Получить свежие данные1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Обновить картинку": {
      "main": [
        [
          {
            "node": "Уведомление + кнопки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Удалить меню времени": {
      "main": [
        [
          {
            "node": "TG: Подтверждение (Now)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Обновить анонс": {
      "main": [
        [
          {
            "node": "БД: Получить свежие данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Финальный текст": {
      "main": [
        [
          {
            "node": "БД: Найти активную правку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Получить свежие данные": {
      "main": [
        [
          {
            "node": "TG: Удалить ответ юзера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Удалить ответ юзера": {
      "main": [
        [
          {
            "node": "TG: Удалить вопрос бота",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Удалить вопрос бота": {
      "main": [
        [
          {
            "node": "Обновить анонс",
            "type": "main",
            "index": 0
          },
          {
            "node": "Уведомление + кнопки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Получить свежие данные1": {
      "main": [
        [
          {
            "node": "TG: Удалить ответ юзера1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Удалить ответ юзера1": {
      "main": [
        [
          {
            "node": "TG: Удалить вопрос бота1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Удалить вопрос бота1": {
      "main": [
        [
          {
            "node": "Код: Анализ (Edit или Rebuild?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: Анализ (Edit или Rebuild?)": {
      "main": [
        [
          {
            "node": "IF: Можно просто обновить?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Получить свежие данные2": {
      "main": [
        [
          {
            "node": "TG: Удалить вопрос бота2",
            "type": "main",
            "index": 0
          },
          {
            "node": "TG: Удалить ответ юзера2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "БД: Получить свежие данные3": {
      "main": [
        [
          {
            "node": "TG: Удалить ответ юзера3",
            "type": "main",
            "index": 0
          },
          {
            "node": "TG: Удалить вопрос бота3",
            "type": "main",
            "index": 0
          },
          {
            "node": "TG: Удалить меню времени1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Получить Рецепты": {
      "main": [
        [
          {
            "node": "Код: Генерация Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: Генерация Jobs": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "БД: Статус Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Получить Рецепты1": {
      "main": [
        [
          {
            "node": "Код: Генерация Jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: Генерация Jobs1": {
      "main": [
        [
          {
            "node": "Создать запись публикации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Статус Approved1": {
      "main": [
        [
          {
            "node": "TG: Подтверждение (План)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Промт для DALL-E": {
      "main": [
        [
          {
            "node": "OpenRouter: Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Переписать анонс": {
      "main": [
        [
          {
            "node": "БД: Обновить анонс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Парсинг даты": {
      "main": [
        [
          {
            "node": "БД: Получить Рецепты1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Переписать лонгрид": {
      "main": [
        [
          {
            "node": "БД: Обновить лонгрид",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rss?": {
      "main": [
        [
          {
            "node": "Разобрать нажатие",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "БД: Получить ID чатов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Можно просто обновить?": {
      "main": [
        [
          {
            "node": "TG: Просто обновить (Edit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Код: ID для удаления",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Просто обновить (Edit)": {
      "main": [
        [
          {
            "node": "Уведомление + кнопки2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: ID для удаления": {
      "main": [
        [
          {
            "node": "Цикл: Удаление",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл: Удаление": {
      "main": [
        [
          {
            "node": "Код: Чанки для отправки",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Удалить (Loop)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Удалить (Loop)": {
      "main": [
        [
          {
            "node": "Цикл: Удаление",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: Чанки для отправки": {
      "main": [
        [
          {
            "node": "Цикл: Отправка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл: Отправка": {
      "main": [
        [
          {
            "node": "Код: Собрать ID (Rebuild)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Отправить (Loop)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Отправить (Loop)": {
      "main": [
        [
          {
            "node": "Цикл: Отправка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Сохранить лонгрид approve2_longread_msg_ids": {
      "main": [
        [
          {
            "node": "TG: Апрув-2 (кнопки)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: Собрать ID": {
      "main": [
        [
          {
            "node": "БД: Сохранить лонгрид approve2_longread_msg_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код: Собрать ID (Rebuild)": {
      "main": [
        [
          {
            "node": "БД: Сохранить лонгрид (Rebuild)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Сохранить лонгрид (Rebuild)": {
      "main": [
        [
          {
            "node": "TG: Апрув-2 (НОВЫЕ кнопки)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Апрув-2 (НОВЫЕ кнопки)1": {
      "main": [
        [
          {
            "node": "БД: Сохранить кнопку (Rebuild)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Сохранить кнопку (Rebuild)": {
      "main": [
        [
          {
            "node": "TG: Удалить старые кнопки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если: Уже есть активная правка?": {
      "main": [
        [
          {
            "node": "TG: Ошибка (Занято)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Проверка занятости": {
      "main": [
        [
          {
            "node": "Если: Уже есть активная правка?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Проверка очереди RSS": {
      "main": [
        [
          {
            "node": "Если: Очередь занята?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если: Очередь занята?": {
      "main": [
        [
          {
            "node": "TG: Ошибка очереди",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "БД: Чаты Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "БД: Обновить картинку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Статус Approved": {
      "main": [
        [
          {
            "node": "TG: Удалить меню времени",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создать запись публикации": {
      "main": [
        [
          {
            "node": "БД: Статус Approved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Драфт заголовка": {
      "main": [
        [
          {
            "node": "Нормализация draft title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нормализация draft title": {
      "main": [
        [
          {
            "node": "update драфт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update драфт": {
      "main": [
        [
          {
            "node": "Заголовок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "+title": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Заголовок": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "TG: Апрув-2 (фото)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "r. draft title": {
      "ai_languageModel": [
        [
          {
            "node": "Драфт заголовка",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "r. draft anounce": {
      "ai_languageModel": [
        [
          {
            "node": "ИИ: Анонс",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "r. draft longrid": {
      "ai_languageModel": [
        [
          {
            "node": "ИИ: Лонгрид",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "r. draft pic": {
      "ai_languageModel": [
        [
          {
            "node": "Промт 3. ИИ: Картинка",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter: Image": {
      "main": [
        [
          {
            "node": "DataURL -> Binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataURL -> Binary1": {
      "main": [
        [
          {
            "node": "TG: Апрув-2 (фото)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Апрув-2 (фото)1": {
      "main": [
        [
          {
            "node": "БД: Сохранить ID фото1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БД: Сохранить ID фото1": {
      "main": [
        [
          {
            "node": "image_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "r. gpt 5.2 (2)": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Переписать анонс",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "r. gpt 5.2": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Переписать лонгрид",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "r. gpt 5.2 (1)": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Промт для DALL-E",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "r. gpt 5  nano": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Парсинг даты",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter: Image1": {
      "main": [
        [
          {
            "node": "DataURL -> Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataURL -> Binary": {
      "main": [
        [
          {
            "node": "БД: Получить свежие данные2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "111tTOvNeCW5G0rn"
  },
  "versionId": "58e09374-49ec-41e5-a10d-3beaea249449",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3be3517ac16055c74c794d80ee41ecf8379a31765686f5b788ba2bac8e2a816"
  },
  "id": "ypKOoa6LyuJsTObU",
  "tags": []
}